---
import DefaultIslandLayout from "../layouts/DefaultIslandLayout.astro";
import { UpvoteContent } from '../components/UpvoteContent.jsx';
import UpvoteContentVue from '../components/UpvoteContent.vue'
---

<DefaultIslandLayout>
  <!-- Render our framework component -->
  <UpvoteContent client:load label="Click">
    <div slot="description">
      <UpvoteContent client:idle label="Click">
    
    </UpvoteContent>
  </UpvoteContent>
  <UpvoteContentVue client:idle />
    </div>
</DefaultIslandLayout>
