---
import DefaultIslandLayout from "../layouts/DefaultIslandLayout.astro";
import { UpvoteContent } from '../components/UpvoteContent.jsx';
import UpvoteContentVue from '../components/UpvoteContent.vue'
---

<DefaultIslandLayout>
  <!-- Render our framework component -->
  <UpvoteContent client:load label="Click">
    <em slot="description">An upvote counter created using React</em>
    <ul slot="awesome">
      <li>Youa re awesome</li>
      <li>The tutor is awesome</li>
    </ul>
  </UpvoteContent>
  <UpvoteContentVue client:load>
    <em slot="description">An upvote counter created using Vue</em>
    <ul slot="awesome">
      <li>Youa re awesome</li>
      <li>The tutor is awesome</li>
    </ul>
  </UpvoteContentVue>
</DefaultIslandLayout>
